<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cart Quantity</title>
</head>
<body>
    <button>Show Quantity</button>
    <button>Add to Cart</button>
    <button>+2</button>
    <button>+3</button>
    <button>Reset Cart</button>

<!--We need somewhere to save the cart quantity & variables come in handy-->
    <script>

    </script>

</body>
</html>