<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Boolean</title>
</head>
<body>
<script>
<!--    comparison operators-->
    console.log(3>5);
    console.log(5 === '5.00');

    if (true){
       console.log('Hello')
    } else {
        console.log('else')
    };

    const age = 15;

    if (age){
        console.log('You can Drive')
        console.log('Congratulations')
    } else if (age) {
        console.log('You are almost there')
    }else {
        console.log('You can not Drive')
    };

</script>

</body>
</html>