<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Objects</title>
</head>
<body>
<!--An object groups multiple values together-->
<!--below we have our object called product-->
<!--the object(product) has property name and price with their values-->
<!--using the properties we can access the values associated to them-->
<!--Here we use the dot i.e., console.log(product.name)-->
<!--Also a property can be used to change a value inside the object-->
<script>
  const product = {
    name:'socks',
    price:1090
  };
  console.log(product);
  console.log(product.name);
  console.log(product.price);

  product.name = 'cotton socks'
  console.log(product);
</script>

</body>
</html>