<!--css code-->
<!--css has a selector,styles, values-->
<style>
    button{
        background-color:red;
        color: white;
        border: none;
    }
    .red-button{

        background-color:red;
        color: white;
        border: none;

    }
    .yellow-button{
        background-color: yellow;
    }
</style>



<!--creating a button-->
<!--using classes-->
<button title="Good Job" class="red-button">
    Hello
</button>

<!--creating a paragraph-->
<p>Paragraph of Text</p>

<!--nesting-->
<p>
    paragraph of <button class="yellow-button">Hello</button> text
</p>
